<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Subject 1 </h1>

    <table id="myTable">
        <tr>
            <td>Question Number</td>
            <td>Question</td>
            <td>Answer Choice 1</td>
            <td>Answer Choice 2</td>
            <td>Answer Choice 3</td>
            <td>Answer Choice 4</td>
            <td>Picture</td>
        </tr>
    <br>
    <label for="question">Question</label>
    <input type="text" id="question-1">
    <br>
    <label for="answer1">Answer 1</label>
    <input type="text" id="answer1-1">
    <br>
    <label for="answer2">Answer 2</label>
    <input type="text" id="answer2-1">
    <br>
    <label for="answer3">Answer 3</label>
    <input type="text" id="answer3-1">
    <br>
    <label for="answer4">Answer 4</label>
    <input type="text" id="answer4-1">
    <br>
    <label for="index">index</label>
    <input id="index-1" type="text">
    <br>  
    <label for="pic">pic</label>
    <input id="pic" type="text">
    <br>
    <br>
    <button onclick="myFunction()">Enter</button>
    <script>

    </script>
</body>
</html>