/*****************************************
			Global Seettings
******************************************/
body {
	background-color: #3D3838;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #B0BEC5;
	display: table;
	font-weight: 300;
	font-family: 'Roboto';
	background: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),
				url('../../img/fieldbw.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.btn {
	margin: 50px 10px;
	font-size: 20;
	font-family: arial;
	text-transform: uppercase;
	background-color: red;
	color: white;
	border: none;
}

.btn:focus {
	color: white;
	outline: 0;
}

.btn:active {
	color: white;
}

.btn:hover {
	background-color: #7a7a7a;
	color: white;
}

.btn-link, .btn-link:hover {
	color: white;
	background-color: transparent;
}

.center {
	text-align: center;
	margin: 0 auto;
}

/******************************************
				Navigation
*******************************************/

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
	color: white;
	font-weight: bolder;
}

.navbar {
	background-color: red;
	border: none;
	margin: 0;
}

.navbar a:hover {
	margin-bottom: -5px;
	border-bottom: 2px solid white;
}

.active {
	margin-bottom: -5px;
	background-color: red;
	border-bottom: 2px solid white;
	color: #3D3838;
}

.dropdown:hover .dropdown-menu {
	display: block;				/* Turns on drop menu on hover in Bootstrap */
	background-color: rgba(0,0,0, .5);
}

.dropdown:hover a, .dropdown-menu a {
	color: white;
}

/*************************************************
					Content
**************************************************/

.container {
	margin: 0;
	padding-top: 80px;
	min-height: 95vh;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.content {
	color: white;
	animation-delay: 500ms;
	animation-duration: 4s;
	text-align: center;
	display: inline-block;
}

.panel-heading h4{
	color: red;
	font-weight: bolder;
}

.seperator {
	font-size: 140%;
	font-weight: bolder;
	border-bottom: 1px solid white;
	text-align: center;
}

.quote {
	font-size: 24px;
}


.title {
	padding-top: 80px;
	font-size: 96px;
	margin-bottom: 40px;
}

.panel, .panel-default, .panel-body {
	background-color: rgba(0,0,0, .3);
}

#map-canvas {
	margin: 10px auto;
	height: 380px;
	width: 70%;
}

/*************************************************
					Form
**************************************************/

.btn-group > .btn {
	margin: 0;
	border: 1px solid rgba(0,0,0, .3);
	color: white;
	width: 75px;
}

a .active {
	background-color: red;
}

.checked {
	background-color: #7a7a7a;
}

.add {
	margin: 0;
}

#rsvp {
	margin: 0;
	padding: 0;
	width: 40%;
	height: 30px;
	font-weight: bolder;
}

/*************************************************
					Search
**************************************************/
.panel-body {
	overflow: auto;
}


/*************************************************
					Create
**************************************************/
.create-panel {
	margin-top: 50px;
}

/*************************************************
					Tryout
**************************************************/

.tryout {
	background-color: rgba(0, 0, 0, .7);
	border-radius: 10px;
	color: white;
	width: 80%;
	margin: 20px auto;
	padding: 2% 5%;
	text-align: right;
}

.individual-tryout {
	text-align: center;
	word-wrap: break-word;
}

.tryout h3 {
	margin: 0;
}

.tryout a {
	font-weight: bolder;
	color: red;
}

a.btn {
	color: white;
}

.sport {
	margin: 0;
	color: red;
	font-weight: bolder;
	font-size: 200%;
	font-family: Arial;
	text-transform: uppercase;
}

.sport > .active {
  background-color: transparent;
  border-bottom: none;
  color: red;
}

.tryout-title {
	font-size: 120%;
	color: red;
}

.fb-like {
	margin: 0 auto;
	padding: 10px;
}

/*************************************************
					Billing
**************************************************/
.modal-body {
	text-align: center;
}

.payment-errors {
	font-weight: bolder;
	font-size: 1.3em;
	color: red;
}

.loading {
	background: transparent url(../../img/ajax-loader.gif) no-repeat scroll center center;
	width: 200px;
	border: none;
}

/*************************************************
					How
**************************************************/
.how-content {
	width: 100%;
	text-align: center;
	padding-top: 75px;
}

.how {
	display: inline-flex;
	text-align: left;
	font-weight: bolder;
	font-size: 1.3em;
	color: white;
	width: 80%;
	margin: 0 auto;
}

.how h1, .how h2 {
	text-align: center;
	color: red;
	font-weight: bolder;
}

.video-wrapper {
	position: relative;
	height: 400px;
	width: 600px;
	margin: 0 auto;
	margin-bottom: 50px;
}

/*************************************************
					Footer
**************************************************/

footer {
	width: 100%;
	text-align: center;
	float: left;
	color: rgba(255, 255, 255, .6);
}


footer a {
	color: rgba(255, 255, 255, .8);
}

footer h6 {
	font-size: 70%;
	display: inline;
	margin: 0 50px;
}

/*************************************************
				Media Queries
**************************************************/
@media(max-width:767px){
	.tryout {
		width: 100%;
		padding: 0;
		margin-left: 0;
		margin-right: 0;
	}

	footer h6 {
		display: block;
	}
}

@media(max-width:680px){
	
	.video-wrapper {
		width: 100%;
	}
	
}

@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}